@import "variables";

:host {
  display: block;
  width: $modal-default-width;
  max-width: 100%;
}

.setting-container {
  margin-bottom: 25px;

  p {
    color: mat-color($app-foreground, secondary-text);
    margin: 5px 0;
  }
}

.inputs-with-image {
  display: flex;
  margin-bottom: 20px;

  .input-container {
    flex: 1 1 auto;
  }
}

upload-image-control {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}
